*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica,sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #2F4156;
}

h1 {
    padding: 20px;
    margin: 0;
    background-color: #00C292;
    color: #ffffff;
}

#output {
  overflow: scroll;
}

#svg_output_1 {
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

main {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}


footer {
  color: #ffffff;
  padding: 0.5em;
  background-color: #2F4156;
}

p {
  margin: 0;
  padding: 0;
}

.toolbar {
  padding: 0.5em;
  background-color: #03A9F3;
  margin-bottom: 1em;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile-label {
  cursor: pointer; /* "hand" cursor */
}

.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  transform: translateY(-50%);
}

.progress-button label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 250px;
  height: 70px;
  border: 2px solid #FD805A;
  border-radius: 40px;
  background: transparent;
  color: #FD805A;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.progress-button label:hover {
  background-color: #FD805A;
  color: #fff;
}

.loading.progress-button label {
  width: 70px; /* make a circle */
  border-width: 5px;
  border-color: #ddd;
  background-color: transparent;
  color: #fff;
}

/*The text should fade out quickly when we start the progress animation…*/
.loading.progress-button span {
  transition: opacity 0.15s;
}

/*…by setting the opacity to 0:*/
.loading.progress-button span {
  opacity: 0; /* keep it hidden in all states */
}

/* Transition for when returning to default state */
.progress-button label span {
   transition: opacity 0.3s 0.1s;
}

.ufs-spinner {
  display: none;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 1s;
}

.loading.progress-button .ufs-spinner {
  display: block;
  opacity: 1;
}
